@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  min-width: 310px;
}

body, .header-search-button i, .header-shopping-cart-button i, .slide-highlight, .row-1-text, .slide-2-paragraph, .slide-2-button, .header-list-expand {
  font-size: 15px;
}

body, .card-highlight {
  color: #000;
}

img, .slide-2-button, .slide-2-button span {
  max-width: 100%;
}

footer {
  color: #616161;
}

footer, .button-more-expand, .header-list-expand {
  background: #f2f2f2;
}

.outer-container, .slide-2-container, .view-sitemap {
  margin: 0 auto;
}

.outer-container {
  max-width: calc(1600px + 10%);
  padding: 0 5%;
}

.header-list, .list-item {
  margin: 1px;
}

.header-list, .row-1-item, .slide-2-button, .card-expand, .social-media-img-container {
  border: 2px solid transparent;
}

.header-list, .search-bar-cancel-sm {
  width: 48px;
}

.header-list, .header-nav-item {
  height: 48px;
}

.header-list, .header-account-button i, .card-heading, .bi-globe, .search-bar-cancel-sm {
  font-size: 20px;
}

.header-list, #button-more, .header-collapse-button .bi-chevron-up, .header-collapse-expand, .button-more-expand, #button-more-chevron-up, .search-bar, .search-bar-search, .search-bar-cancel, .search-bar-cancel-sm, .search-bar-search-sm, .search-bar-sm-container, .header-list .bi-x-lg, .header-list-expand, .display-hide, .carousel-left, .carousel-right, .row-left, .row-right {
  display: none;
}

.header-list {
  padding: 6px 0 8px 0;
}

.header-list i, .main-row-1, .row-1-item, .row-1-text, .main-slide-1, .main-slide-2, .row-left i, .row-right i {
  position: relative;
}

.header-list i {
  left: calc(50% - 10px);
}

.header-box, .main-social-media, .footer-base, .footer-base-lang-selector, .list-item {
  display: flex;
}

.header-box, .header-nav, .header-collapse, .header-shopping-cart, .header-search {
  font-size: 13px !important;
}

.header-box {
  min-width: 280px;
  height: 54px;
  margin-bottom: 2px;
}

.logo, .header-nav, .header-collapse, .header-shopping-cart, .header-search, .slide-highlight, .slide-2-container {
  height: 100%;
}

.logo, .search-bar, .search-bar-sm {
  outline: 2px solid transparent;
}

.logo, .header-nav-item {
  outline-offset: -2px;
}

.logo {
  margin: 1px 0 0 0;
  padding: 16px 10px 16px 6px;
  width: 137px;
  border: 0;
  order: 0;
  min-width: 118px;
}

.logo img, .row-1-img {
  max-width: none;
}

.logo img, .header-search-button i, .header-shopping-cart-button i, .header-account-button i, .row-1-img {
  vertical-align: middle;
}

.logo img {
  width: 108px;
  height: auto;
}

.header-nav, .header-collapse {
  padding-left: 2px;
}

.header-nav, .search-bar {
  flex-grow: 1;
}

.header-nav, .header-collapse {
  padding-right: 1px;
}

.header-nav {
  order: 1;
}

.header-nav i, .header-nav-item, .header-collapse-button i, .header-search-button i, .header-search-button-text, .header-shopping-cart-button i, .header-shopping-cart-button-text, .header-account-button i, .header-account-button-text, .row-1-item, .slide-2-button, .card-expand, .footer-base-nav-item, .header-collapse-expand-column, .button-more-text, .display-visible {
  display: inline-block;
}

.header-nav-item, .header-collapse-button, .row-left, .row-right {
  border: 1px solid transparent;
}

.header-nav-item, .expand-column-item, .button-more-expand-item {
  color: #262626;
}

.header-nav-item, .header-collapse-button {
  margin-top: 1px;
}

.header-nav-item {
  word-break: break-word;
  padding: 16px 8px 10px;
}

#button-more, .main-row-1, .card-1, .footer-nav-lead {
  padding-left: 0;
}

.header-collapse {
  order: 2;
}

.header-search {
  order: 3;
}

.header-shopping-cart {
  order: 4;
}

.header-account {
  order: 5;
}

.header-collapse {
  margin-right: 15px;
}

.header-shopping-cart, .header-search {
  margin: 1px 7px 0 10px;
  padding: 2px 0 8px 0;
}

.header-collapse-button {
  padding: 16px 15px 16px 20px;
}

.header-shopping-cart-button-text, .header-search-button-text, .card-3 {
  padding-right: 6px;
} 

.header-search-button i, .header-shopping-cart-button i, .header-shopping-cart-button-text, .header-search-button-text {
  line-height: 46px;
}

.header-account-button {
  padding-top: 3px;
}

.header-account-button-text, .card-3 {
  padding-left: 12px;
}

.header-account-button-text {
  padding-right: 4px;
}

.header-account-button i, #carousel-indicator {
  border: 1px solid;
}

.header-account-button i, .carousel-left, .carousel-right, #carousel-indicator, .row-left, .row-right {
  border-radius: 50%;
}

.header-account-button i, .social-media-img-container {
  width: 32px;
}

.header-account-button i {
  margin: 8px;
}

.bi-person-plus::before {
  padding-left: 4.5px;
}

.slide-highlight, .card-highlight {
  padding: 3px 14px 5px;
}

.slide-highlight, .row-1-text, .slide-2-heading, .slide-2-button, .row-3-heading, .card-heading, .card-expand, .footer-nav-heading, .expand-column-heading {
  font-weight: 600;
}

.slide-highlight {
  background: #fef000;
  color: #000000;
  letter-spacing: -0.01em;
  line-height: 1.5em;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 104px;
}

#longer-button {
  width: 230px;
}

.main-row-1 {
  padding-right: 0;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 48px;
  text-align: center;
}

.row-1-item {
  width: 184px;
  padding: 12px 6px;
  min-height: 44px;
  outline: 1px solid transparent;
  vertical-align: top;
}

.row-1-img {
  height: 40px;
  width: 40px;
  margin: auto;
  margin-bottom: 8px;
}

.row-1-text {
  margin: auto;
  max-height: 60px;
  line-height: 20px;
  width: 125px;
  text-align: center;
  white-space: normal;
}

.row-1-item:hover .row-1-img {
  cursor: pointer;
}

.row-1-item:hover .row-1-text {
  cursor: pointer;
  text-decoration: underline;
}

.main-row-2 {
  padding-top: 12px;
}

.row-2-card {
  margin-top: 48px;
}

.slide-2-heading {
  padding-bottom: 3px;
  font-size: 34px;
  line-height: 28px;
  max-height: 56px;
  letter-spacing: -.01em;
  opacity: .95;
  margin: 0;
}

.slide-2-paragraph {
  padding: 0;
  margin: 12px 0 0 0;
  line-height: 20px;
  font-weight: 400;
  max-height: 80px;
}

.slide-2-button {
  width: 136px;
  margin: 24px 0 0 2px;
  padding: 8px 20px 8px 20px;
  color: #fff;
  background: #000;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.3;
}

.slide-2-button span {
  vertical-align: top;
  line-height: 18.5px;
}

.row-3-heading {
  font-size: 24px;
  line-height: 28px;
  padding: 48px 0 4px;
  margin-bottom: 16px;
}

.card-1 {
  padding-right: 18px;
}

.card-2, .card-heading, .card-paragraph, .social-media-text, .footer-nav-lead {
  padding-right: 12px;
}

.card-2 {
  padding-left: 6px;
}

.card-4 {
  padding-left: 18px;
  padding-right: 0px;
}

.card-highlight, .social-media-text, .footer-nav-heading {
  line-height: 20px;
}

.card-highlight {
  margin: 12px 0 4px;
  height: 26px;
  width: 56.844px;
  font-weight: 400;
  background-color: #ffd800;
  font-size: 13px;
  letter-spacing: 0.075em;
  text-overflow: ellipsis;
}

.card-heading {
  margin: 0;
}

.card-heading {
  line-height: 24px;
  opacity: 0.95;
  padding-bottom: 2px;
}

.card-paragraph {
  padding-top: 2px;
  margin-bottom: 0;
}

.card-expand {
  padding: 10px 3px 7px 0;
  outline: 1px solid transparent;
  outline-offset: -3px;
  color: #0067b8;
  background: transparent;
  text-align: left;
}

.not-new {
  margin-top: 42px;
}

.main-social-media, .footer-base-lang-selector {
  align-items: center;
}

.main-social-media {
  padding: 48px 5% 0;
}

.social-media-text {
  color: rgba(0,0,0,.6);
  margin-bottom: 4px;
}

.social-media-img-container {
  margin-right: 12px;
  height: 32px;
}

.social-media-img:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.footer-nav-group {
  margin-top: 48px;
}

.footer-nav {
  padding: 0 12px;
}

.footer-nav-item:last-child {
  margin-bottom: 8px;
}

.footer-nav, .footer-nav-lead {
  vertical-align: text-top;
}

.footer-nav-heading {
  padding: 36px 0 4px;
}

.footer-nav-item, .footer-base, .lang-selector-text {
  font-size: 11px;
  line-height: 16px;
}

.footer-nav-item {
  padding: 8px 0;
}

.footer-base {
  padding: 30px 5% 16px;
  flex-wrap: wrap;
}

.footer-base-lang-selector {
  width: 161px;
  padding-right: 23px;
  margin-right: auto;
}

.bi-globe {
  margin-right: 8px;
}

.footer-base-nav {
  margin: 3px 0;
}

.footer-base-nav-item {
  padding-right: 24px;
  padding-bottom: 4px;
}

.footer-nav-item:hover, .footer-base-lang-selector:hover, .footer-base-nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-card:hover img {
  opacity: 90%;
}

.main-card {
  cursor: pointer;
}

.card-expand-hover:hover, .slide-2-button-hover:hover {
  text-decoration: underline 2px;
  margin-right: 4px;
  transition: all 200ms ease-in-out;
}

.main-slide-1, .main-slide-2 {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-slide-2 {
  padding-top: 48px;
}

.slide-1-text, .slide-2-text {
  position: absolute;
  margin-left: 6%;
  max-width: 520px;
}

.slide-1-text {
  top: calc(50%);
  transform: translateY(-50%);
}

.slide-2-text {
  top: calc(50%);
  transform: translateY(-50%);
}

.slide-2-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 88%;
}

.main-slide-1:hover, .main-slide-2:hover {
  cursor: pointer;
}

.header-collapse-expand {
  z-index: 999;
  position: absolute;
  background-color: #f2f2f2;
  border-color: rgba(0,0,0,.05) rgba(0,0,0,.05) #000;
  border-style: solid;
  border-width: 1px 1px 2px;
  top: 53.5px;
  right: 0;
}

.header-collapse-expand-column {
  padding-bottom: 10px;
  vertical-align: top;
}

.expand-column-heading {
  padding: 18px 0 18px 24px;
  width: 195px;
  font-size: 13px;
}

.expand-column-item {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 195px;
  padding-left: 24px;
}

.view-sitemap {
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  font-weight: 400;
  text-align: center;
  line-height: 40px;
}

.button-more-expand {
  position: absolute;
  z-index: 998;
  width: 170px;
  border-color: rgba(0,0,0,.05) rgba(0,0,0,.05) #000;
  border-style: solid;
  border-width: 1px 1px 2px;
  font-size: 13px;
  padding: 1px 0 0 0;
  top: 48px;
}

.button-more-expand-item {
  padding-left: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: block;
}

.button-more-text {
  padding-left: 8px;
}

.search-bar {
  order: 1;
  margin-top: 12px;
  padding: 7px 38px 7px 10px;
  opacity: 1;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0,0,0,.6);
  border-radius: 0;
}

.search-bar:focus {
  border: 2px solid #0067b8;
  outline: 2px solid #000;
}

.search-bar-search {
  order: 2;
  position: absolute;
  right: 105px;
  margin: 12px 2px 1px 6px;
  padding: 7px 9px 5px 9px;
  height: 32px;
  width: auto;
  font-size: 16px;
}

.search-bar-cancel {
  order: 3;
  margin-top: 12px;
  margin-left: 5px;
  padding: 6px;
  background: transparent;
  border: 1px solid black;
  height: 36px;
  width: 75px;
  text-align: center;
}

.search-bar-cancel-sm {
  position: absolute;
  z-index: 999;
  height: 53px;
  background: white;
  text-align: center;
  padding-top: 13px;
}

.search-bar-sm-container {
  position: absolute;
  left: 48px;
  right: 0;
  z-index: 998;
  height: 53px;
  max-width: 801px;
  min-width: 262px;
  background: white;
  margin-right: 10px;
}

.search-bar-sm {
  margin-top: 11px;
  margin-bottom: 6px;
  width: 100%;
  padding: 7px 10px 7px 40px;
  opacity: 1;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0,0,0,.6);
  border-radius: 0;
}

.search-bar-sm:focus {
  border: 2px solid #0067b8;
  outline: 2px solid #000;
}

.search-bar-search-sm {
  position: absolute;
  left: 48px;
  z-index: 999;
  margin: 12px 8px 1px 0px;
  padding: 5px 9px 9px 9px;
  height: 32px;
  width: auto;
  font-size: 16px;
}

.header-list-expand {
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid black;
  width: 100%;
  min-width: 320px;
}

.header-list-expand:last-child {
  border-bottom: none;
}

.list-item {
  border-bottom: 1px solid #e6e6e6;
  padding: 14px 24px 15px 15px;
  justify-content: space-between;
}

.expanded-item {
  padding-left: 45px !important;
}

.logo:hover, .header-nav-item:hover, .header-collapse-button:hover, .header-search-button:hover, .header-shopping-cart-button:hover, .header-account-button:hover, .expand-column-item:hover, .view-sitemap:hover, .button-more-expand-item:hover, .header-list:hover, .search-bar-search:hover, .search-bar-cancel:hover, .search-bar-search-sm:hover, .search-bar-cancel-sm:hover, .list-item:hover {
  cursor: pointer;
}

.header-nav-item:hover, .header-collapse-button:hover, .header-search-button-text:hover, .header-shopping-cart-button-text:hover, .button-more-text:hover {
  text-decoration: underline solid 2px;
}

.expand-column-item:hover, .view-sitemap:hover {
  text-decoration: underline !important;
}

#button-more:hover {
  text-decoration: none;
}

.button-more-expand-item:hover {
  text-decoration: underline;
  background-color: #e6e6e6;
}

.main-slide-1:hover .carousel-left, .main-slide-1:hover .carousel-right {
  display: block;
}

.carousel-left {
  opacity: .8;
  box-shadow: none;
  background: #fafafa;
  color: #404040;
  z-index: 100;
  border: 1px solid #dbdbdb;
  width: 44px;
  height: 44px;
  font-size: 23px;
  padding-top: 1px;
}

.carousel-left i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

.carousel-left:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.carousel-right {
  opacity: .8;
  box-shadow: none;
  background: #fafafa;
  color: #404040;
  z-index: 100;
  border: 1px solid #dbdbdb;
  width: 44px;
  height: 44px;
  font-size: 23px;
  padding-top: 1px;
}

.carousel-right i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

.carousel-right:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

#carousel-indicator {
  width: 8px;
  height: 8px;
  border-color: #000;
  background-color: #000;
}

.row-left, .row-right {
  position: absolute;
  margin-top: 30px;
  z-index: 100;
  width: 44px;
  height: 44px;
  background: #fafafa;
  color: #404040;
  font-size: 18px;
}

.row-left {
  left: 0;
}

.row-right {
  right: 0;
}

.row-left i, .row-right i {
  top: 8px;
}

.row-left:hover, .row-right:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  background: #fff;
  color: #404040;
  opacity: 1;
}

@media only screen and (min-width: 860px) {
  .search-bar-cancel-sm, .search-bar-search-sm, .search-bar-sm-container, .header-list-expand {
    display: none !important;
  }
}

@media only screen and (max-width: 1399px) {
  .slide-1-text, .slide-2-text {
    max-width: 440px;
  }

  .slide-2-heading {
    font-size: 24px;
  }

  .header-search-button-text, .header-shopping-cart-button-text, .header-account-button-text {
    display: none;
  }

  .header-search, .header-shopping-cart {
    margin: 0;
    padding: 0;
  }

  .header-search-button i, .header-shopping-cart-button i {
    margin: 0 7px 0 10px;
    padding: 2px 0 8px 0;
  }
}

@media only screen and (max-width: 1248px) {
  .main-row-1 {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .row-left, .row-right {
    display: inline-block;
  }
}

@media only screen and (max-width: 1083px) {
  .header-box {
    padding-left: 24px;
    padding-right: 24px;
  }

  .slide-1-text, .slide-2-text {
    max-width: 340px;
    margin-left: 0;
  }

  .main-slide-1, .main-slide-2 {
    padding: 0;
  }
}

@media only screen and (max-width: 992px) {
  /*
  body padding
  4 columes to 2 columes cards
  footer 6 columns to 3 columns
  */
  .main-slide-1, .main-slide-2 {
    padding: 0;
  }

  .main-row-3, .main-row-2 {
    padding: 0 3%;
  }

  .row-3-heading, .card-1, .card-2, .card-3, .card-4, .footer-nav-lead {
    padding-left: 12px;
  }

  .card-1, .card-2, .card-3, .card-4 {
    padding-right: 12px;
  }

  .card-3, .card-4 {
    margin-top: 48px;
  }

  .main-social-media, .footer-base {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer-nav-group {
    padding: 0 12px;
  }
}

@media only screen and (max-width: 920px) {
  /*
  Sale, Support hidden
  */
  #button-sale, #button-support {
    display: none;
  }

  #button-more {
    display: inline-block;
  }
}

@media only screen and (max-width: 893px) {
  /*
  Xbox hidden
  */
  .button-xbox {
    display: none;
  }
}

@media only screen and (max-width: 859px) {
  /*
  All hidden
  */
  .header-box {
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
    margin: 0;
  }

  .header-search {
    order: 1;
    margin: 2px 2px 1px 6px;
    padding: 8px 0 8px 8px;
  }

  .header-search-button i {
    padding: 0;
    margin: 0 2px 0 0;
    line-height: unset;
    height: 16px;
    width: 16px;
  }

  .header-shopping-cart {
    margin: 1px;
    padding: 15px 10px;
    border: none;
  }

  .header-shopping-cart-button i {
    padding: 0;
    margin: 0;
    line-height: unset;
  }

  .header-account {
    margin-right: 9px;
  }

  .logo {
    margin: 1px;
    padding: 12px 4px;
    order: 2;
    flex-grow: 1;
  }

  .logo img {
    position: relative;
    left: calc(50% - 54px);
  }

  .header-list {
    display: inline-block;
  }

  .search-bar, .search-bar-search, .search-bar-cancel, .header-collapse-expand, .button-more-expand, .header-nav, .header-collapse {
    display: none !important;
  }

  .header-search, .header-shopping-cart, .header-account {
    display: inline-block !important;
  }

  .search-bar-cancel-sm, .search-bar-search-sm, .search-bar-sm-container {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  /*
  move text to bottom carousel
  Choose your MS365 row to column
  move text to bottom Xbox controller
  footer nav goes down
  */
  .row-1-item {
    display: block;
    width: auto;
    text-align: left;
  }

  .row-1-img {
    height: 20px;
    width: 20px;
    margin-bottom: 0;
    margin-right: 8px;
  }

  .row-1-text {
    display: inline-block;
    width: unset;
  }

  .footer-base {
    display: block;
  }

  .footer-base-nav {
    margin-top: 12px;
  }

  .footer-base-nav-item {
    padding: 6px 4px 0 6px;
  }

  .slide-highlight {
    margin: auto;
  }

  .slide-2-container {
    position: relative;
    height: 320px;
    background-color: #e6e6e6;
    width: 100%;
    padding: 12px;
  }

  .slide-1-text, .slide-2-text {
    position: relative;
    text-align: center;
    max-width: 100%;
  }

  .slide-2-heading {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .slide-2-picture {
    width: 100%;
  }

  .slide-2-container {
    width: 100%;
  }
}

@media only screen and (max-width: 539px) {
  /*
  move text to bottom carousel
  Choose your MS365 row to column
  move text to bottom Xbox controller
  2 columns to 1 column cards
  footer 3 columns to 1 column
  */
  .main-row-3, .main-row-2 {
    padding: 0 2%;
  }

  .footer-base-nav-item {
    padding: 6px 10px 0 0;
  }
}